/.idea/
/venv/
/.env
/latex-output/*
!/latex-output/*.pdf
/paper/*
/terraform/*.tfstate
/terraform/*.tfvars
/terraform/*.tfstate.backup
#!/terraform/*.tf
#!/terraform/modules/*
clound-benchmarking-gcp.json
cloud-benchmarking-improved-gcp.json
/artifacts/
!/artifacts/screenshots/*
/logs/
/terraform/.terraform/
/combos/
/_scratch_terraform/