aiohttp==3.7.4.post0
async-timeout==3.0.1
attrs==20.3.0
beautifulsoup4==4.9.3
boto3==1.16.58
botocore==1.19.58
certifi==2020.12.5
chardet==4.0.0
click==7.1.2
colorama==0.4.4
colorlog==4.8.0
colormap==1.0.3
cycler==0.10.0
easydev==0.11.0
Flask==1.1.2
Flask-Cors==3.0.10
flownetwork==3.1.0
geographiclib==1.50
geoip2==4.1.0
geopy==2.1.0
humanize==3.2.0
idna==2.10
IP2Location==8.5.1
itsdangerous==1.1.0
Jinja2==2.11.2
jmespath==0.10.0
kiwisolver==1.3.1
MarkupSafe==1.1.1
matplotlib==3.4.1
maxminddb==2.0.3
multidict==5.1.0
numpy==1.19.5
pandas==1.2.0
peppercorn==0.6
pexpect==4.8.0
Pillow==8.2.0
pony==0.7.14
ptyprocess==0.7.0
pyparsing==2.4.7
python-dateutil==2.8.1
python-dotenv==0.15.0
python-terraform==0.10.1
pytz==2020.5
redis==3.5.3
requests==2.25.1
s3transfer==0.3.4
six==1.15.0
soupsieve==2.2.1
tabulate==0.8.9
tqdm==4.55.1
typing-extensions==3.7.4.3
urllib3==1.26.2
Werkzeug==1.0.1
yarl==1.6.3
